<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devwidget.ctnxa.devwidget"
    android:versionCode="1"
    android:versionName="0.1">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Widget to show IP Address -->
        <receiver android:name="ctnxa.DevWidget.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/ipaddress_widget" />
        </receiver>
    </application>

</manifest>
